
#home {
  position: relative;
  background: url('../img/maincross.jpg');
  min-height: 90vh;

  .primary-overlay {
    background: $primary-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#video-play {
  
  text-align: center;
  color: #fff;

  a {
    color: #fff;
  }

}

